<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        Welcome to the LMS
    </div>
    <div>
        <h3>Hello <%= user.name %>
                <h3>Activation code: <%= activationCode %>
                </h3>
        </h3>
    </div>
</body>

</html>